.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 20px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ccc;
    padding: 20px;
}

.imagen{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 815px;
    margin-right: 50px;
    background-color: #ccc;
    padding: 10px;
}

.habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 200px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 50px;
    background-color: #ccc;
    
}
.aspiraciones{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 120px;
    padding-bottom: 40px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  form {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  form h1 {
    margin-bottom: 20px;
    font-size: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* Fin del Formulario */

